.home-mentions-container .tweet-card {
	padding: 1.2rem;
	border: 1px solid var(--gray-3);
	border-radius: 5px;
	background-color: white;
	color: var(--clr-11);
	box-shadow: none;
}
.home-mentions-container .tweet-author-name {
	font-family: "Ubuntu", sans-serif;
}
.home-mentions-container .tweet-body a {
	font-weight: bold;
	text-decoration: underline;
}
.home-mentions-container .retweet-card {
	border: 1px solid var(--gray-3);
	border-radius: 5px;
	background-color: white;
	color: var(--clr-11);
}
.home-mentions-container .retweet-card .tweet-card:first-child {
	border-bottom: none;
	border-radius: 0px;
}
.home-mentions-container .retweet-card .tweet-card:nth-child(2) {
	border: 1px solid var(--gray-3);
	margin: 0 1.2rem 1.2rem 1.2rem;
}
