---
import "./mentions-section.css";
import { Tweet } from "@astro-community/astro-embed-twitter";
---

<section class="home-mentions-container">
	<h2 class="section-title" id="home-recognition-title">
		recognition on social media:
	</h2>
	<div class="mentions">
		<Tweet id="1516751223931682819" />

		<div class="retweet-card">
			<Tweet id="1541037160639373313" />
			<Tweet id="1540913067391090688" />
		</div>

		<Tweet
			id="1516751223931682819"
		/>
	</div>
</section>
