---
import "./mentions-section.css";
import { Tweet } from "@astro-community/astro-embed-twitter";
---

<section class="home-mentions-container wrapper">
	<h2 class="section-title" id="home-recognition-title">
		recognition on social media:
	</h2>
	<div class="autofit-grid">
		<Tweet id="1514196122696302595" />

		<div class="retweet-card">
			<Tweet id="1541037160639373313" />
			<Tweet id="1540913067391090688" />
		</div>

		<Tweet
			id="https://twitter.com/greensock/status/1516751223931682819?ref_src=twsrc%5Etfw"
		/>
	</div>
</section>
