.testimonial-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.6rem;
}

.testimonial-section blockquote footer {
	padding-top: 0.8rem;
	font-weight: var(--fw-200);
	font-style: italic;
}
.testimonial-section blockquote::before {
	content: " ";
	background: url(../../images/quote.svg) no-repeat center center;
	width: 1.5rem;
	display: inline-block;
	height: 1.5rem;
}

@media (min-width: 768px) {
	.testimonial-section {
		grid-template-columns: repeat(6, 1fr);
	}
	#testimonial-svg {
		max-width: 450px;
		grid-column: 1 / span 3;
		justify-self: center;
		align-self: center;
	}
	.testimonial-section .wide {
		grid-column: span 3 /-1;
	}
	.testimonial-section blockquote {
		grid-column: span 2;
	}
}
