/* Blog listing page */

.blog-listing-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
}
.blog-listing-page p {
	grid-column: 1/-1;
	margin-bottom: 2rem;
}
.blog-list {
	padding-top: 1.6rem;
}

.blog-listing-page ul {
	list-style: none;
}
.blog-list li {
	margin-bottom: 3rem;
}
.blog-list h2 {
	font-size: var(--fs-xxl);
}
.blog-listing-page .blogs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	padding-bottom: 6rem;
	/* border-bottom: 1px solid var(--gray-3); */
}
.blog-listing-page .blog {
	padding: 3rem 1.6rem 1.6rem 1.6rem;
	border: 1px solid var(--gray-3);
	border-radius: 5px;
	background-color: #fff;
	position: relative;
}
.blog-listing-page .blog .blog__badge {
	background-color: var(--clr-2);
	padding: 0.4rem 1.6rem;
	border-radius: 0.4rem;
	position: absolute;
	top: -1rem;
	font-size: var(--fs-s);
}
.blog-listing-page > h2 {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 267.62 12.91'%3E%3Cpath d='M246.19,1.55c-5.85-.34-11.7-.59-17.55-.88-1.93-.1-3.87-.1-5.8-.15-4.19-.11-8.38-.21-12.57-.32-2.33-.06-4.67-.13-7-.18-.68-.01-1.35-.02-2.03-.02-1.52,0-3.04,.02-4.56,.03-6.91,0-13.83,.02-20.74,.02-1.65,0-3.29,.04-4.94,.06-4.08,.05-8.15,.11-12.22,.16-4.6,.06-9.19,.08-13.79,.2-7.44,.18-14.87,.37-22.31,.55-4.31,.11-8.61,.17-12.92,.34-7.42,.3-14.83,.59-22.25,.88-4.05,.16-8.11,.29-12.16,.52-7.67,.43-15.34,.85-23.01,1.28-4.1,.23-8.2,.4-12.29,.75-7.64,.65-15.27,1.3-22.91,1.95-1.65,.14-3.3,.28-4.95,.42-3.3,.28-6.58,.72-9.87,1.09-.21,.03-.41,.06-.62,.08-.39,.11-.74,.31-1.03,.6-.43,.43-.68,1.03-.68,1.64s.25,1.21,.68,1.65c.39,.39,1.07,.75,1.65,.68,3.97-.45,7.93-.92,11.91-1.26,3.69-.31,7.37-.63,11.06-.94,4.02-.34,8.04-.68,12.06-1.02,1.62-.14,3.24-.32,4.87-.41,6.27-.35,12.54-.69,18.81-1.03,3.91-.22,7.82-.43,11.73-.65,1.61-.09,3.23-.2,4.85-.27,6.21-.25,12.43-.48,18.64-.71,3.77-.14,7.53-.29,11.3-.43,1.27-.05,2.53-.11,3.8-.14,6.71-.16,13.42-.31,20.13-.46,3.75-.09,7.49-.17,11.24-.26,1.33-.03,2.67-.08,4-.09l20.76-.21c4.32-.05,8.63-.09,12.95-.08,7.35,.02,14.7,.03,22.04,.05,1.45,0,2.9,.06,4.35,.11l12.17,.36c3.04,.09,6.08,.18,9.13,.27,2.16,.06,4.31,.22,6.47,.34,6.35,.34,12.7,.7,19.04,1.09,1.61,.1,3.22,.22,4.83,.34,1.73,.12,3.46,.25,5.18,.44,.27,.04,.53,.09,.8,.15,.68,.14,1.33,.1,1.94-.25,.56-.33,.98-.88,1.16-1.51,.36-1.32-.44-2.73-1.76-3.1-1.16-.32-2.36-.45-3.55-.57-.82-.08-1.63-.17-2.45-.25-1.57-.16-3.15-.24-4.72-.36-2.95-.22-5.91-.35-8.87-.52Z' fill='%2319191a'/%3E%3C/svg%3E")
		no-repeat left bottom;
	width: 200px;
}
@media (min-width: 768px) {
	.latest-blog {
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
}
