/* Blog post template */
.blog-post__content {
	margin: 2rem auto;
	max-width: 80ch;
}

.blog-post__content ol,
.blog-post__content ul {
	padding-left: 2rem;
}

.blog-post__content blockquote p {
	margin: 2rem 2rem 2rem 0;
	padding-left: 2rem;
	border-left: 0.5rem solid var(--clr-2);
}

.blog-post__details time {
	font-style: italic;
	border-bottom: 0.3rem solid var(--clr-2);
}
.blog-post__title {
	line-height: 1.2;
}

.blog-post__details {
	margin-bottom: 1rem;
}

.blog-post__content img {
	width: 80%;
	max-width: 550px;
	margin: 2rem auto;
	display: block;
}

.blog-post__tags {
	margin-bottom: 3rem;
	list-style: none;
	display: flex;
	grid-column: 1/-1;
}
.blog-post__tags li {
	background-color: var(--clr-2);
	padding: 0.4rem 1.6rem;
	border-radius: 0.4rem;
	font-size: var(--step--1);
	font-weight: var(--fw-200);
	margin-right: 1rem;
	letter-spacing: 1px;
}
.back-home-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}
