/* Blog post template */
.blog-post__content {
	margin: 2rem auto;
	max-width: 90ch;
}

.blog-post__content ol {
	padding-left: 1.5rem;
}

.blog-post__content blockquote p {
	margin: 2rem 2rem 2rem 0;
	padding-left: 2rem;
	border-left: 0.5rem solid var(--clr-2);
}

.blog-post__details time {
	border-bottom: 0.3rem solid var(--clr-2);
}

.blog-post__details {
	margin-bottom: 1rem;
}
.blog-post__content a {
	text-decoration: underline;
	font-weight: var(--fw-200);
	cursor: pointer;
}

.blog-post__content img {
	width: 80%;
	max-width: 550px;
	margin: 2rem auto;
	display: block;
}

.blog-post__tags {
	margin-bottom: 3rem;
	list-style: none;
	display: flex;
	grid-column: 1/-1;
	padding-left: 0;
}
.blog-post__tags li {
	background-color: var(--clr-2);
	padding: 0.4rem 1.6rem;
	border-radius: 0.4rem;
	font-size: var(--step--1);
	font-weight: var(--fw-200);
	margin-right: 1rem;
	letter-spacing: 1px;
}
.back-home-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}
.blog-post__content .astro-code {
	padding: 1rem;
	background-color: var(--clr-11) !important;
	color: var(--clr-1);
	border-radius: 7px;
}
.blog-post__content p code {
	background: #dddddd;
	padding: 4px;
	border-radius: 5px;
}
.blog-post__content h2 {
	margin-top: 2.4rem;
}
.blog-post__content p {
	margin-top: 1.2rem;
}
.blog-post__content aside {
	background-color: var(--clr-2);
	padding: 1rem;
}
