.home-work-container {
  grid-column: 1/-1;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.section-title {
  grid-column: 1/-1;
}
.home-work-container .work {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.home-work-container .work-preview {
  aspect-ratio: 3/4;
  overflow: scroll;
  border: 2px solid var(--mono-2);
}

.home-work-container a {
  font-size: var(--fs-l);
  text-decoration-line: underline;
  text-decoration-color: var(--mono-2);
}

.home-work-container__project {
  padding: 1.6rem;
  background-color: white;
  border: 1px solid var(--gray-3);
  border-radius: 5px;
  display: grid;
  grid-gap: 2rem;
}
.home-work-container__project .project-preview {
  width: 100%;
  /* height: 200px; */
  position: relative;
}
.home-work-container__project iframe,
.home-work-container__project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-work-container__project .project-description {
  align-self: start;
}
.home-work-container__project .tech {
  display: flex;
  margin-top: 1.5rem;
  list-style: none;
  color: var(--mono-1);
}
.home-work-container__project .tech span {
  padding-right: 1rem;
  font-weight: 600;
}
