---
import "./about-section.css";
import mascot from "$src/images/mascot.svg";
const { profileImgWebP, profileImgJPG } = Astro.props;
---

<section class="home-about-container">
	<!-- <picture class="home-profile-container">
		<source srcset={profileImgWebP} />
		<img
			src={profileImgJPG}
			class="home-profile-image"
			alt="Trapti rahangdale portrait"
			width="280px"
			width="300px"
		/>
	</picture> -->
	<img
		src={mascot}
		alt="girl holding a coffee cup"
		width="300px"
		height="300px"
		loading="lazy"
		class="mascot"
	/>
	<div class="home-intro clr-2">
		<h1 class="about-heading">
			I create Accessible, Performant , Responsive, Interactive & Animated
			websites with code.
		</h1>

		<!-- <p class="content">
			I am a freelance Creative Frontend Engineer based in India. I can help you
			with creating & optimizing SVGs, creating web animations, responsive
			layouts, websites, web applications & much more.
		</p>
		<p class="content">
			I emphasize on accessibility and performance in my work.
		</p> -->

		<p class="cta-container flex-center">
			<a href="#hire-me" class="button clr-3"> Hire me</a>
			<span>Learn more <a href="/about" class="link">about me.</a></span>
		</p>
	</div>
</section>
