.about-heading {
	font-family: "Impact", serif;
	max-width: 20ch;
}
.home-intro {
	padding-left: 3rem;
}

.home-intro {
	margin-right: var(--pullToEnd);
}
.mascot {
	max-width: 450px;
	opacity: 0;
	visibility: hidden;
}
.cta-container a {
	margin-right: 1rem;
}
