---
import PageLayout from "$src/layouts/PageLayout.astro";
import "./videos.css";
---

<PageLayout title="Videos">
	<div class="video-listing-page">
		<div class="clr-3 inner-region">
			<div
				class="with-sidebar wrapper align-items-center justify-content-center"
			>
				<div>
					<p class="blog-listing-intro">
						I create videos around animations using CSS and GreenSock, SVGs,
						creating layouts etc. Below are my favourite videos. You can find
						more on my <a
							href="https://www.youtube.com/@trapti_rahangdale"
							target="_blank"
							class="link">YouTube channel</a
						>.
					</p>
				</div>
			</div>
		</div>
		<div class="wrapper inner-region videos-wrapper">
			<div>
				<iframe
					width="400"
					src="https://www.youtube.com/embed/GT0P15xAQpc?si=zrk9ocJYjYO_YlSY"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					referrerpolicy="strict-origin-when-cross-origin"
					allowfullscreen></iframe>
				<h1>
					CSS only! SVG line animation on scroll; circle moving along the line
					on scroll
				</h1>
			</div>
			<div>
				<iframe
					width="400"
					src="https://www.youtube.com/embed/kl0GSH2mIsQ?si=s0eNlQkoAItRLtrF"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					referrerpolicy="strict-origin-when-cross-origin"
					allowfullscreen></iframe>
				<h1>
					Scale up text on Scroll using GreenSock and ScrollTrigger #awwwards
					recreation
				</h1>
			</div>
			<div>
				<iframe
					width="400"
					src="https://www.youtube.com/embed/trXQ8oFhE-s?si=vlrmISRgTMsRRp_C"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					referrerpolicy="strict-origin-when-cross-origin"
					allowfullscreen></iframe>
				<h1>
					Multi line slide up text effect using GreenSock SplitText plugin
					#awwwards recreation
				</h1>
			</div>
			<div>
				<iframe
					width="400"
					src="https://www.youtube.com/embed/VH-vKHbiGqo?si=I8A7urvgVuAG5CcE"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					referrerpolicy="strict-origin-when-cross-origin"
					allowfullscreen></iframe>
				<h1>
					CSS Scroll animation: Layered panel moving horizontally alog with text
				</h1>
			</div>
		</div>
	</div>
</PageLayout>
