.about-page {
	max-width: 90ch;
	margin: auto;
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
	padding: 1.6rem 2.4rem;
}

.about-page-heading {
	grid-column: 1/-1;
	margin-bottom: 1.6rem;
}

.about-page p {
	grid-column: 1 / -1;
	margin-bottom: 1.6rem;
	font-size: var(--fs-xl);
}

.about-page .skills-title {
	color: initial;
	grid-column: 1/-1;
}

.about-page .skills-list {
	padding: 1.6rem 0 1.6rem 3.2rem;
	grid-column: 1/-1;
}
