:root {
  /* Colors */
  --background-color: #f8fcfe;
  --text-color: #171719;
  --mono-1: #f6674f;
  --mono-2: #f5b326;
  --accent-1: #b4e6ff;

  /* Font sizes */
  --fs-m: 1.6rem;
  --fs-l: 1.8rem;
  --fs-xl: 2rem;
  /* --fs-xxl: 3.2rem; */
  /* --fs-xxxl: 3.6rem; */
  --fs-jumbo: 4.8rem;
  /* Line height */
  --lh-5: 1.5;
  --lh-8: 1.8;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif", serif;
  font-size: var(--fs-m);
  font-weight: normal;
  line-height: var(--lh-8);
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: initial;
}
p,
figure {
  margin: 0;
}
ul,
ol,
blockquote {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h3 {
  border-bottom: 2px solid var(--accent-1);
}

/* Header */
.header {
  display: grid;
  grid-template-columns: none;
  margin-bottom: 2.4rem;
}

.logo {
  grid-column: 2 / span 3;
}

.logo svg {
  font-family: "Noto Sans", sans-serif;
  font-size: 4rem;
}

.logo .name-text {
  font-weight: normal;
  letter-spacing: 1px;
}

.navigation {
  grid-column: 8/11;
}

.menu {
  list-style: none;
}

.menu-item {
  display: inline;
  padding: 1.6rem;
}

/* Footer */

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 6.4rem;
  margin: 1.2rem;
}
.footer .copyright-text {
  text-align: center;
}

/* Main Home */
.home-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 3.2rem;
  margin-bottom: 2.4rem;
}

.home-writing-container {
  grid-column: 1/-1;
  display: grid;
  padding: 0 1.2rem;
}
.home-about-container {
  grid-column: 1/-1;
  padding: 0 1.2rem;
}

.home-about-container .image-container {
  grid-column: 2;
  grid-row: span 6;
  width: 30rem;
}

.home-about-container .content {
  grid-column: 2/-2;
  font-size: var(--fs-l);
  padding-left: 0;
}

.home-writing-container .section-title {
  grid-column: 2/11;
}

.home-writing-container .medium-blogs {
  grid-row: 2;
  grid-column: 2/11;
  list-style: none;
}

.home-writing-container .medium-blog {
  padding: 1.6rem 0;
  border-bottom: 1px solid;
}

.home-writing-container .medium-blog__title,
.home-writing-container .medium-blog__subtitle {
  color: initial;
  cursor: pointer;
}

.highlight {
  color: var(--accent-1);
}

.social-links {
  list-style: none;
  position: fixed;
  writing-mode: vertical-rl;
  top: 11rem;
  right: 2rem;
  color: var(--text-color);
}

.social-links li {
  display: inline;
  padding: 0.8rem 0;
}

/* All media */

@media (min-width: 768px) {
  .home-about-container {
    display: grid;
    grid-template-columns: 9rem 30rem minmax(24ch, 1fr) 10rem;
    padding: 0;
  }
  .home-about-container .content {
    grid-column: 3/-2;
    padding-left: 1.6rem;
  }
  .social-links {
    right: 5rem;
  }
  .home-writing-container {
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
  }
  .header {
    grid-template-columns: repeat(12, 1fr);
  }
}

/* Blog post template */

.blog-post {
  padding: 1.2rem;
  margin-bottom: 1.6rem;
}

.blog-post__title {
  font-size: var(--fs-jumbo);
}

.blog-post__content {
  font-size: var(--fs-xl);
}
.blog-post__content p,
.blog-post__content ol,
.blog-post__content ul {
  margin-bottom: 1.6rem;
}

.blog-post__content ol,
.blog-post__content ul {
  padding-left: 5rem;
}

.blog-post code {
  padding: 1.6rem;
  background-color: var(--mono-2);
  font-size: var(--fs-xl);
  font-weight: normal;
}

.blog-post__content a {
  padding-bottom: 0.8rem;
  border-bottom: 2px solid var(--accent-1);
}

.blog-post__content blockquote p {
  margin: 4rem 4rem 4rem 0;
  padding-left: 4rem;
  border-left: 0.7rem solid var(--accent-1);
}

.blog-post__details date {
  font-style: italic;
  border-bottom: 0.3rem solid var(--accent-1);
}
.blog-post__title {
  line-height: 1.2;
}

.blog-post__details {
  margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
  .blog-post {
    padding: 0;
    margin-bottom: 2.4rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .blog-post__title {
    grid-column: 2/10;
    margin-bottom: 0.8rem;
  }
  .blog-post__details {
    grid-column: 2/10;
  }
  .blog-post__content {
    grid-column: 2/10;
  }
}
