.projects-page {
  display: grid;
  grid-template-columns: none;
  grid-gap: 2.8rem;
}

.projects-page .title {
  grid-column: 1/-1;
  text-transform: uppercase;
  font-weight: bold;
}

.projects-page .badge {
  padding: 0.2rem 1.2rem;
  border-radius: 1rem;
  border: 1px solid var(--black);
  margin-left: 1.6rem;
  cursor: pointer;
}

.projects-page .badge a {
  font-size: var(--fs-s);
}

.projects-page .project {
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--gray-3);
}

.projects-page .project-name {
  text-transform: capitalize;
}

.projects-page .project-stars {
  color: var(--mono-2);
}

.projects-page .project-details {
  margin: 0.8rem 0;
}

.projects-page .project-aside-title {
  margin-bottom: 1.6rem;
}

.projects-page .aside-project {
  display: grid;
  grid-gap: 1.6rem;
}

@media (min-width: 768px) {
  .projects-page {
    grid-template-columns: 2fr 1fr;
  }
}