:root {
	/* Colors */
	--gray-1: hsl(240, 5%, 30%);
	--gray-3: #e7e7e8;

	--clr-1: #fff5d7; /*     Ragin Beige */
	--clr-2: #ff5e6c; /*     Coral Pink */
	--clr-3: #ffce5c; /* Sleuthe Yellow */
	--clr-4: #ffaaab; /* Pink */
	--clr-9: #ffffff; /* white */
	--clr-11: #3f2039;

	/* Font sizes */
	--step--2: clamp(0.63rem, calc(0.72rem + -0.11vw), 0.69rem);
	--step--1: clamp(0.83rem, calc(0.83rem + 0.02vw), 0.84rem);
	--step-0: clamp(1rem, calc(0.95rem + 0.23vw), 1.13rem);
	--step-1: clamp(1.2rem, calc(1.09rem + 0.54vw), 1.5rem);
	--step-2: clamp(1.44rem, calc(1.24rem + 1.02vw), 1.8rem);
	--step-3: clamp(1.73rem, calc(1.39rem + 1.7vw), 2.66rem);
	--step-4: clamp(2.07rem, calc(1.54rem + 2.69vw), 3.2rem);
	--step-5: clamp(2.49rem, calc(1.67rem + 4.09vw), 4.74rem);
	/* Line height */
	--lh-2: 1.2;
	--lh-5: 1.5;
	--lh-8: 1.8;
	/* Font weight */
	--fw-100: 400;
	--fw-200: 600;
	--fw-300: 700;
	--footerHeight: 12rem;
	--headerHeight: 10rem;
	--pullToEnd: calc(((100vw - 1200px - 1rem) / 2) * -1);
}
@media (max-width: 1200px) {
	:root {
		--pullToEnd: 0;
	}
}

@font-face {
	font-family: "Ubuntu", sans-serif;
	src: url(./Ubuntu-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url(./source-sans-pro/SourceSansPro-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url(./source-sans-pro/SourceSansPro-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url(./source-sans-pro/SourceSansPro-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "Impact", serif;
	src: url(./impact-font/impact.ttf);
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: var(--step-0);
	font-weight: var(--fw-100);
	line-height: var(--lh-8);
	margin: 0;
	background-color: var(--clr-1);
	color: var(--clr-11);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu", sans-serif;
	margin: 0;
	line-height: var(--lh-2);
}
h1 {
	font-size: var(--step-5);
}
h2 {
	font-size: var(--step-4);
}
h3 {
	font-size: var(--step-3);
}
h4 {
	font-size: var(--step-2);
}
h5 {
	font-size: var(--step-1);
}
h6 {
	font-size: var(--step-0);
}

a {
	text-decoration: none;
	color: inherit;
}
p,
figure {
	margin: 0;
}
ul,
ol,
blockquote {
	padding: 0;
	margin: 0;
}
strong {
	font-weight: 600;
}
ul {
	list-style-image: url("../images/bullet.svg");
	padding-left: 1.5rem;
}
ol {
	padding-left: 1.5rem;
}
ul li::marker {
	color: var(--clr-2);
	font-size: var(--step-1);
}
img {
	width: 100%;
	max-width: 100%;
}
main {
	min-height: calc(100vh - (var(--headerHeight) + 7rem + var(--footerHeight)));
}
time {
	font-style: italic;
}
a {
	display: inline-block;
}
* {
	box-sizing: border-box;
}
