:root {
  /* Colors */
  --background-color: #f8fcfe;
  --mono-1: hsl(9, 65%, 45%);
  --mono-2: #f5b326;
  --accent-1: #b4e6ff;
  --black: #19191a;
  --gray-1: hsl(240, 5%, 30%);
  /* --gray-2: #a2a2a3;  */
  --gray-3: #e7e7e8;

  /* Font sizes */
  --fs-s: 1.4rem;
  --fs-m: 1.6rem;
  --fs-l: 1.8rem;
  --fs-xl: 2rem;
  --fs-xxl: 2.4rem;
  /* --fs-xxxl: 3.6rem; */
  --fs-jumbo: 3.8rem;
  /* Line height */
  --lh-5: 1.5;
  --lh-8: 1.8;

  --footerHeight: 12rem;
  --headerHeight: 10rem;

  --clr-1: hsl(45, 100%, 92%);
  --clr-2: #ff5c69;
  --clr-3: hsl(42, 100%, 50%);
  --clr-4: hsl(359, 100%, 83%);
  --clr-9: hsl(273, 100%, 22%);
}

@media (min-width: 768px) {
  :root {
    --fs-xxl: 3.2rem;
    --fs-jumbo: 6rem;
  }
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url(./Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url(./Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Noto Serif", serif;
  src: url(./Graphik-Font-Family/GraphikBlack.otf);
}
@font-face {
  font-family: "Noto Serif", serif;
  src: url(./Graphik-Font-Family/GraphikBold.otf);
}
@font-face {
  font-family: "Noto Serif", serif;
  src: url(./Graphik-Font-Family/GraphikExtralight.otf);
}
@font-face {
  font-family: "Noto Serif", serif;
  src: url(./Graphik-Font-Family/GraphikRegular.otf);
}
@font-face {
  font-family: "Noto Serif", serif;
  src: url(./Graphik-Font-Family/GraphikMedium.otf);
}

body {
  font-family: "Noto Serif", serif;
  font-size: var(--fs-l);
  font-weight: 400;
  line-height: var(--lh-8);
  margin: 0;
  background-color: var(--background-color);
  color: var(--gray-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  color: var(--black);
}
a {
  text-decoration: none;
  color: initial;
}
p,
figure {
  margin: 0;
}
ul,
ol,
blockquote {
  padding: 0;
  margin: 0;
}
ul {
  list-style-image: url("../images/bullet.svg");
}
ul li::marker {
  color: var(--clr-2);
  font-size: 1.5em;
}
img {
  max-width: 100%;
}
main {
  min-height: calc(100vh - (var(--headerHeight) + 7rem + var(--footerHeight)));
}
strong {
  color: var(--black);
}
.wrapper {
  padding: 0 1.2rem;
}
.hightlight {
  position: relative;
}
.hightlight::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 50%;
  background-color: var(--mono-2);
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
  left: -1%;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto 1.6rem;
  }
}
.clr-2 {
  color: black;
  background-color: var(--clr-2);
}
.clr-1 {
  background-color: var(--clr-1);
}
.stack > * + * {
  margin-block-start: var(--space-m, 2rem);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 1rem 2.5rem;
  font-size: var(--fs-l);
  outline: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

/* Footer */

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: var(--footerHeight);
  margin: 7rem 0 2rem;
}
.footer > * {
  justify-self: center;
}
.footer .copyright-text {
  text-align: center;
}
.footer .site-info {
  font-size: var(--fs-s);
}
.footer .footer-link {
  font-size: var(--fs-l);
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}

/* Main Home */
.home-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 8rem;
  margin-bottom: 2.4rem;
}

.layout-pens {
  grid-column: 1 / -1;
  padding: 0 1.2rem;
}
.layout-pens .popular-pen {
  grid-column: 1/-1;
}

.section-title {
  margin-bottom: 3.2rem;
  letter-spacing: 1px;
  text-align: center;
  font-size: var(--fs-jumbo);
  margin-bottom: 2rem;
  font-weight: bold;
}

.highlight {
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  border-bottom: 0.3rem solid var(--accent-1);
  /* background: url("../images/underline.svg") no-repeat center bottom; */
}
.link {
  border-bottom: 1px solid var(--mono-1);
  color: var(--mono-1);
  font-weight: 600;
}

.social-links {
  list-style: none;
  color: var(--black);
  display: flex;
}

.social-links li {
  padding: 1.6rem;
}

/* @media (min-width: 768px) {
  .social-links {
    right: 5rem;
  }
} */

/* Blog post template */

.blog-post {
  padding: 1.2rem;
  margin-bottom: 1.6rem;
}

.blog-post__title {
  font-size: var(--fs-jumbo);
}

.blog-post__content {
  font-size: var(--fs-xl);
}
.blog-post__content p,
.blog-post__content ol,
.blog-post__content ul {
  margin-bottom: 1.6rem;
}

.blog-post__content ol,
.blog-post__content ul {
  padding-left: 5rem;
}

.blog-post__content h3 {
  border-bottom: 2px solid var(--accent-1);
}

.blog-post__content a {
  border-bottom: 2px solid var(--mono-1);
}

.blog-post__content blockquote p {
  margin: 4rem 4rem 4rem 0;
  padding-left: 4rem;
  border-left: 0.7rem solid var(--accent-1);
}

.blog-post__details date {
  font-style: italic;
  border-bottom: 0.3rem solid var(--accent-1);
}
.blog-post__title {
  line-height: 1.2;
}

.blog-post__details {
  margin-bottom: 1.6rem;
}

.blog-post__content img {
  width: 100%;
}
.gatsby-highlight {
  max-width: 700px;
}
.blog-post__tags {
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
}
.blog-post__tags li {
  background-color: var(--accent-1);
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .blog-post {
    max-width: 700px;
    padding: 0;
    margin: 0 auto 2.4rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .blog-post__title {
    grid-column: 1/-1;
    margin-bottom: 0.8rem;
  }
  .blog-post__details {
    grid-column: 1/-1;
  }
  .blog-post__content {
    grid-column: 1/-1;
  }
}

.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}
.tag-posts-listing {
  margin-top: 3rem;
}
.tag-posts-listing li {
  display: grid;
  margin-bottom: 2rem;
}
.tag-posts-listing li span {
  font-size: var(--fs-s);
}
.tag-posts-listing li a {
  font-size: var(--fs-xl);
  text-decoration: underline;
}

.project-post {
  max-width: 700px;
  padding: 0;
  margin: 0 auto 2.4rem;
  display: grid;
}

.project-post__content > * {
  margin-bottom: 1rem;
}

.project-details-video-container {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2rem;
}

.project-details-video-container::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--projectDetailVideoAR)));
}
.project-details-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid var(--mono-2);
}
.project-details-video-container + p {
  padding: 0 2rem;
  font-size: var(--fs-s);
  margin-bottom: 4rem;
}
/* Blog listing page */

.blog-listing-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.blog-listing-page p {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.blog-list {
  padding-top: 1.6rem;
}

.blog-listing-page ul {
  list-style: none;
}
.blog-list li {
  margin-bottom: 3rem;
}
.blog-list h2 {
  font-size: var(--fs-xxl);
}
.blog-listing-page .blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding-bottom: 6rem;
  /* border-bottom: 1px solid var(--gray-3); */
}
.blog-listing-page .blog {
  padding: 3rem 1.6rem 1.6rem 1.6rem;
  border: 1px solid var(--gray-3);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}
.blog-listing-page .blog .blog__badge {
  background-color: var(--clr-2);
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
  position: absolute;
  top: -1rem;
  font-size: 1.4rem;
}
.blog-listing-page > h2 {
  background: url("../images/underline.svg") no-repeat left bottom;
  width: 180px;
}
@media (min-width: 768px) {
  .latest-blog {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

/* Common for text animations */
.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}
