:root {
	/* Colors */
	--background-color: #f8fcfe;
	--mono-1: hsl(9, 65%, 45%);
	--mono-2: #f5b326;
	--accent-1: #b4e6ff;
	--black: #19191a;
	--gray-1: hsl(240, 5%, 30%);
	/* --gray-2: #a2a2a3;  */
	--gray-3: #e7e7e8;

	--clr-1: #fff5d7; /*     Ragin Beige */
	--clr-2: #ff5e6c; /*     Coral Pink */
	--clr-3: #ffce5c; /* Sleuthe Yellow */
	--clr-4: #ffaaab; /* Pink */
	--clr-9: #ffffff; /* white */
	--clr-11: #3f2039;

	/* Font sizes */
	--fs-s: 1.4rem;
	--fs-m: 1.6rem;
	--fs-l: 1.8rem;
	--fs-xl: 2rem;
	--fs-xxl: 2.4rem;
	/* --fs-xxxl: 3.6rem; */
	--fs-jumbo: 4rem;
	/* Line height */
	--lh-2: 1.2;
	--lh-5: 1.5;
	--lh-8: 1.8;

	--footerHeight: 12rem;
	--headerHeight: 10rem;
}

@media (min-width: 768px) {
	:root {
		--fs-xxl: 3.2rem;
		--fs-jumbo: 7.4rem;
	}
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: "Ubuntu", sans-serif;
	src: url(./Ubuntu-Bold.ttf);
}
@font-face {
	font-family: "Ubuntu", sans-serif;
	src: url(./Ubuntu-Medium.ttf);
}
@font-face {
	font-family: "Graphik", serif;
	src: url(./Graphik-Font-Family/GraphikBlack.otf);
}
@font-face {
	font-family: "Graphik", serif;
	src: url(./Graphik-Font-Family/GraphikBold.otf);
}

@font-face {
	font-family: "Graphik", serif;
	src: url(./Graphik-Font-Family/GraphikMedium.otf);
}
@font-face {
	font-family: "Impact", serif;
	src: url(../Impact-Font/impact.ttf);
}

body {
	font-family: "Graphik", serif;
	font-size: var(--fs-l);
	font-weight: 400;
	line-height: var(--lh-8);
	margin: 0;
	background-color: var(--clr-1);
	color: var(--clr-11);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu", sans-serif;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
p,
figure {
	margin: 0;
}
ul,
ol,
blockquote {
	padding: 0;
	margin: 0;
}
strong {
	font-weight: 600;
}
ul {
	list-style-image: url("../images/bullet.svg");
}
ul li::marker {
	color: var(--clr-2);
	font-size: 1.5em;
}
img {
	max-width: 100%;
}
main {
	min-height: calc(100vh - (var(--headerHeight) + 7rem + var(--footerHeight)));
}

.wrapper {
	padding: 0 1.2rem;
}
.hightlight {
	position: relative;
}
.hightlight::before {
	content: "";
	position: absolute;
	width: 98%;
	height: 50%;
	background-color: var(--mono-2);
	bottom: 0;
	z-index: -1;
	opacity: 0.5;
	left: -1%;
}
@media (min-width: 768px) {
	.wrapper {
		max-width: 1200px;
		margin: 0 1.6rem;
	}
}
@media (min-width: 1200px) {
	.wrapper {
		margin: 0 auto;
	}
}

/* Footer */

.footer {
	display: grid;
	align-items: center;
	justify-content: center;
	min-height: var(--footerHeight);
	/* margin: 7rem 0 0; */
}
.footer > * {
	justify-self: center;
}
.footer .copyright-text {
	text-align: center;
}
.footer .site-info {
	font-size: var(--fs-m);
	padding: 0 1.2rem;
}
.footer .footer-link {
	font-size: var(--fs-l);
	font-weight: 600;
	text-decoration: underline;
	text-align: center;
}

/* Main Home */
.home-content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* grid-row-gap: 8rem; */
	margin-bottom: 2.4rem;
}
.home-content > * {
	grid-column: 1/-1;
}
.layout-pens {
	grid-column: 1 / -1;
	padding: 0 1.2rem;
}
.layout-pens .popular-pen {
	grid-column: 1/-1;
}

.section-title {
	margin-bottom: 3.2rem;
	letter-spacing: 1px;
	text-align: center;
	font-size: clamp(3.2rem, calc(3rem + 1.8vw), var(--fs-jumbo));
	line-height: var(--lh-2);
	margin-bottom: 2rem;
	font-weight: bold;
}

.highlight {
	padding-bottom: 0.2rem;
	padding-left: 0.4rem;
	border-bottom: 0.3rem solid var(--accent-1);
	/* background: url("../images/underline.svg") no-repeat center bottom; */
}
.link {
	border-bottom: 1px solid inherit;
	color: inherit;
	font-weight: 600;
}

.social-links {
	list-style: none;
	/* color: var(--black); */
	display: flex;
}

.social-links li {
	padding: 1.6rem;
}
.back-home-btn {
	width: 30rem;
	margin: 7rem auto 5rem;
}
/* Utility Classes */
/* text animations */
.split-parent {
	overflow: hidden;
}
.split-child {
	display: inline-block;
}

.clr-1 {
	background-color: var(--clr-1);
}
.clr-2 {
	background-color: var(--clr-2);
}
.clr-3 {
	background-color: var(--clr-3);
}
.clr-4 {
	background-color: var(--clr-4);
}

.stack > * + * {
	margin-block-start: var(--space-m, 2rem);
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	padding: 1rem 2.5rem;
	font-size: var(--fs-l);
	outline: none;
	border: none;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-family: "Ubuntu", sans-serif;
}
.inner-region {
	padding: 6rem 0;
}
