---
import PageLayout from "$src/layouts/PageLayout.astro"
---

<PageLayout title="Contact Form Success">
  <main id="main" class="contact-success-content">
    <h2>
      This page will show generic message indicating the form was successfully
      submitted
    </h2>
  </main>
</PageLayout>
