/* Popular pens */

.popular-pens {
  grid-column: 1/-1;
  display: grid;
  grid-gap: 1.6rem;
}

.popular-pens-title {
  grid-column: 1/-1;
  justify-self: center;
  display: flex;
  align-items: center;
}

.popular-pens-title  span {
  font-size: var(--fs-m);
  line-height: 1;
  padding-left: 0.8rem;
}
.go-to-codepen {
  padding: 0.4rem 0;
  border: 1px solid var(--mono-1);
  color: var(--mono-1);
  margin: 0 0 1.2rem 0;
  display: block;
  border-radius: 4rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

.popular-pens .popular-pen {
  display: grid;
  background-color: white;
  border: 1px solid var(--gray-3);
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.popular-pens .popular-pen:hover {
  background-color: #fdefd3;
  box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.1);
}
.popular-pens .popular-pen figure {
  justify-self: center;
}

.popular-pen-title {
  margin-bottom: 0.8rem;
}

.popular-pen-media {
  margin-bottom: 0.8rem;
}

.popular-pen-link-container {
  align-self: end;
}

@media (min-width: 768px) {
  .popular-pens {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 2.4rem;
  }
}

.pen-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 49.6rem;
  background-color: rgba(0,0,0,0.65);
  transition: all 0.4s ease-in-out 0s;
}

.popular-pen-description  {
  transform: translate(0, 0%);
  transition: all 0.4s ease-in-out;
  min-height: 15rem;
}