---
import PageLayout from "$src/layouts/PageLayout.astro"

const posts = Astro.fetchContent("../../../gatsby/blog/*.md")
const tags = posts
  .map((post) => post.tags)
  .filter((tags) => tags)
  .flat()
const uniquetags = [...new Set(tags)]
---

<PageLayout title="tags">
  <div class="wrapper">
    <ul>
      {uniquetags.map((tag) => (
        <li>
        <a href={`/tags/${tag}`}>
          {tag} (
          {posts.filter((post) => post.tags?.find((t) => t === tag)).length})
        </a>
        </li>
      ))}
    </ul>
  </div>
</PageLayout>
