.home-writing-container {
	grid-column: 1 / -1;
	display: grid;
}

.home-writing-container .blogs {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1.6rem;
	list-style: none;
}

.home-writing-container .blog a {
	padding: 3.2rem 1.6rem;
	border: 1px solid var(--gray-3);
	border-radius: 5px;
	background-color: white;
	position: relative;
	display: block;
	height: calc(100% - 8rem);
}

.home-writing-container .blog__title {
	color: initial;
	cursor: pointer;
}

.home-writing-container .blog__subtitle {
	color: var(--gray-1);
	cursor: pointer;
}

.home-writing-container .blog__badge {
	/* background-color: var(--accent-1); */
	padding: 0.4rem 1.6rem;
	border-radius: 0.4rem;
	position: absolute;
	top: -1rem;
	font-size: var(--fs-s);
}

@media (min-width: 768px) {
	.home-writing-container {
		grid-template-columns: repeat(12, 1fr);
		padding: 0;
	}
}
