.home-writing-container .blog a {
	padding: 1rem;
	position: relative;
	cursor: pointer;
}

.home-writing-container .blog__badge {
	padding: 0.4rem 1.6rem;
	border-radius: 0.4rem;
	position: absolute;
	top: -3rem;
	font-size: var(--step--1);
}
/* .flowy-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 1.6rem;
}
.flowy-layout > *:not(.button) {
	flex-basis: 0px;
	flex-grow: 999;
	min-inline-size: 280px;
	max-inline-size: 50%;
} */
