---
import PageLayout from "$src/layouts/PageLayout.astro"

import "../styles/about.css"
---

<PageLayout title="About me">
  <div class="about-page">
    <h1 class="about-page-heading">ABOUT ME</h1>
    <p>
      I am a self-taught Frontend Developer working since August 2015. I have
      developed SaaS web apps as well as bespoke websites. I am passionate about
      building a responsive, accessible, performant web for everyone. I love
      SVG, animations and CSS grids the most, and I am excited to build web
      interfaces of the future with these.
    </p>
    <h2 class="skills-title">Tools of the trade</h2>
    <ul class="skills-list">
      <li>HTML, CSS, Javascript, React, Redux, SVG’s</li>
      <li>
        CSS Grid, Flexbox, SASS, BEM, CSS variables, CSS Modules, ITCSS, SMACCS
      </li>
      <li>Animations (CSS and with Greensock)</li>
      <li>Illustrator, Figma</li>
      <li>Typescript, Jest, Enzyme</li>
      <li>Webpack</li>
    </ul>
    <p>
      In May 2019 I took a break from <a
        rel="noopener noreferrer"
        href="https://www.quintype.com/"
        target="_blank"
      >
        Quintype</a
      >, having built React based front end web apps for 3+ years. I wished to
      upskill myself in SVG, animations and accessibility and I did. In May 2019
      I took a break from
    </p>
    <p>
      Since mid-2020 I am working as a freelancer. As a developer, I believe it
      is important to understand feature, design, and development to achieve a
      successful user-facing product. I helped companies and agencies around the
      world, building Web user interfaces with a focus on modern responsive
      design, animations, accessibility, performance, and cutting-edge tech.
    </p>
    <p>
      When I learn and want to make a note I write it as blog post. I have
      written a few blogs. I am published at
      <a
        class="hightlight"
        rel="noopener noreferrer"
        href="https://css-tricks.com/how-to-get-handwriting-animation-with-irregular-svg-strokes/"
        target="_blank"
      >
        CSS-Tricks,
      </a>
      <a
        class="hightlight"
        rel="noopener noreferrer"
        href="https://medium.com/statuscode/thinking-in-css-grid-48922b25ee69"
        target="_blank"
      >
        Statuscode(Medium publication),
      </a>
      <a
        class="hightlight"
        rel="noopener noreferrer"
        href="https://soshace.com/author/reach-trapti/"
        target="_blank"
      >
        Soshace,
      </a>
      <a
        class="hightlight"
        rel="noopener noreferrer"
        href="https://dev.to/imtraptir"
        target="_blank"
      >
        dev.to.
      </a>
    </p>
    <p>
      I am looking for some interesting work. If you’d like to find out more, we
      can then set up a call to discuss how I can be of most value to your
      project. Send me an email with details at
      <a
        rel="noopener noreferrer"
        href="mailto:reach.trapti@gmail.com"
        target="_top"
      >
        reach.trapti@gmail.com
      </a> or DM on
      <a
        rel="noopener noreferrer"
        href="https://twitter.com/imtraptir"
        target="_blank"
      >
        Twitter.
      </a>
    </p>
  </div>
</PageLayout>
