---
import PageLayout from "$src/layouts/PageLayout.astro";
import "../styles/about.css";
import profileImgJPG from "$src/images/profile.jpg";
import profileImgWebP from "$src/images/profile.webp";
---

<PageLayout title="About me">
	<div class="about-page wrapper inner-region">
		<h1 class="about-page-heading">Hey there! I'm Trapti</h1>
		<div class="with-sidebar">
			<picture class="sidebar">
				<source srcset={profileImgWebP} />
				<img
					src={profileImgJPG}
					class="home-profile-image"
					alt="Trapti rahangdale portrait"
					width="280px"
				/>
			</picture><p>
				I am a Freelance Frontend Engineer with 6 years of experience building
				content websites, SaaS applications, bespoke animations, and more.
				Analyse designs with a product mindset. Collaborate with designers,
				backend developers and managers. Prioritise Accessibility, SEO,
				Performance, and Maintainability.
			</p>
		</div>

		<h2 class="skills-title">Tools of the trade</h2>
		<ul class="skills-list">
			<li>HTML, CSS, Javascript, React, Redux, SVG</li>
			<li>Animation (CSS and GreenSock GSAP)</li>
			<li>
				CSS Grid, Flexbox, SASS, CSS Modules, Cube CSS, BEM, ITCSS, SMACCS
			</li>
			<li>WordPress, Elementor, ACF(Advanced Custom Fields), Squarespace</li>
			<li>Static site generators like Gatsby, Astro etc.</li>
			<li>Typescript, Jest, Enzyme</li>
			<li>Familiar with Rails, Node.js, PHP, Clojure</li>
			<li>Illustrator, Figma</li>
		</ul>
		<p>
			In May 2019, I took a break from <a
				rel="noopener noreferrer"
				href="https://www.quintype.com/"
				target="_blank"
			>
				Quintype</a
			>, having built React based front-end web apps for 3+ years. I wished to
			upskill myself in SVG, animations and accessibility, and I did.
		</p>
		<p>
			Since mid-2020, I am working as a freelancer. I help companies and
			agencies around the world, building Web user interfaces. My work focuses
			on responsive design, animations, accessibility, performance, and
			innovative tech.
		</p>
		<p>
			When I learn and want to make a note I write it as blog post. I have
			written a few blogs. I am published at
			<a
				class="hightlight"
				rel="noopener noreferrer"
				href="https://css-tricks.com/how-to-get-handwriting-animation-with-irregular-svg-strokes/"
				target="_blank"
			>
				CSS-Tricks,
			</a>
			<a
				class="hightlight"
				rel="noopener noreferrer"
				href="https://medium.com/statuscode/thinking-in-css-grid-48922b25ee69"
				target="_blank"
			>
				Statuscode(Medium publication),
			</a>
			<a
				class="hightlight"
				rel="noopener noreferrer"
				href="https://soshace.com/author/reach-trapti/"
				target="_blank"
			>
				Soshace,
			</a>
			<a
				class="hightlight"
				rel="noopener noreferrer"
				href="https://dev.to/imtraptir"
				target="_blank"
			>
				dev.to.
			</a>
		</p>
		<p>
			If you want to work with me send me an email with details at
			<a
				rel="noopener noreferrer"
				class="link"
				href="mailto:hello@trapti.dev"
				target="_top"
			>
				hello@trapti.dev
			</a> or DM on
			<a
				class="link"
				rel="noopener noreferrer"
				href="https://twitter.com/imtraptir"
				target="_blank"
			>
				Twitter.
			</a>
		</p>
	</div>
</PageLayout>
