---
import PageLayout from "$src/layouts/PageLayout.astro";

import AboutSection from "$src/components/about-section/about-section.astro";
import WritingSection from "$src/components/writing-section/writing-section.astro";
import Testimonial from "$src/components/testimonial-section/testimonial-section.astro";
import WorkSection from "$src/components/work-section/work-section.astro";
import ServicesSection from "$src/components/services-section/services-section.astro";
import MentionsSection from "$src/components/mentions-section/mentions-section.astro";
import MmsSection from "$src/components/mms-section/mms-section.astro";

import BLOGS from "$src/data/blogs.js";
---

<PageLayout title="Home">
	<div id="main" class="home-content">
		<AboutSection />

		<div class="clr-3 inner-region">
			<ServicesSection />
		</div>

		<div class="clr-1 inner-region"><WorkSection /></div>
		<div class="clr-4 inner-region"><Testimonial /></div>
		<div class="clr-2 inner-region"><WritingSection blogs={BLOGS} /></div>
		<div class="clr-3 inner-region"><MentionsSection /></div>
		<div class="clr-1 inner-region"><MmsSection /></div>
		<script src="$src/js/home.js"></script>
	</div>
</PageLayout>
