---
import PageLayout from "$src/layouts/PageLayout.astro"

import AboutSection from "$src/components/about-section/about-section.jsx"
import WritingSection from "$src/components/writing-section/writing-section.jsx"
import PopularWorkSection from "$src/components/popular-work-section/popular-work-section.jsx"
import Testimonial from "$src/components/testimonial-section/testimonial.jsx"
import WorkSection from "$src/components/work-section/work-section.jsx"

import BLOGS from "$src/data/blogs.js"
import POPULAR_WORK from "$src/data/popular-work.js"

const jsSrc = (await import("../js/lazysizes.min.js?url")).default
let popularWork = POPULAR_WORK
---

<PageLayout title="Home">
  <main id="main" class="home-content">
    <AboutSection profileImg="/assets/profile.[hash].jpg" />
    <Testimonial />
    <WorkSection />
    <WritingSection blogs={BLOGS} />
    <PopularWorkSection {popularWork} />
  </main>

  <script type="module" defer src={jsSrc}></script>
</PageLayout>
