---
import PageLayout from "$src/layouts/PageLayout.astro"

import AboutSection from "$src/components/about-section/about-section.jsx"
import WritingSection from "$src/components/writing-section/writing-section.jsx"
import PopularWorkSection from "$src/components/popular-work-section/popular-work-section.jsx"
import Testimonial from "$src/components/testimonial-section/testimonial.jsx"
import WorkSection from "$src/components/work-section/work-section.jsx"
import ServicesSection from "$src/components/services-section/services-section.jsx"
import MentionsSection from "$src/components/mentions-section/mentions-section.jsx"

import BLOGS from "$src/data/blogs.js"
import POPULAR_WORK from "$src/data/popular-work.js"

import profileImg from "$src/images/profile.jpg"

const jsSrc = (await import("../js/lazysizes.min.js?url")).default
let popularWork = POPULAR_WORK
---

<PageLayout title="Home">
  <main id="main" class="home-content">
    <AboutSection {profileImg} />
    <WorkSection />
    <ServicesSection />
    <Testimonial />
    <WritingSection blogs={BLOGS} />
    <MentionsSection />
    <!-- <PopularWorkSection {popularWork} /> -->
  </main>

  <script type="module" defer src={jsSrc}></script>
</PageLayout>
