---

import PageLayout from "$src/layouts/PageLayout.astro";
import "$src/styles/projects.css";

import Projects from "$src/components/projects.jsx";

import * as github from "$src/js/github.js";

const user = `tripti1410`;
const repos = await github.repos({ user }, { includeForks: false });
---

<PageLayout>
	<main id="main" class="projects-page">
		<h1 class="title">Projects</h1>
		<Projects repos={repos} magazineImageUrl={Astro.resolve("../images/magzine-layout.jpg")}/>
	</main>
</PageLayout>