/* Header */
.header {
	margin-bottom: 1rem;
}
@media (min-width: 979px) {
	.navigation {
		height: var(--headerHeight);
	}
	.home .navigation {
		background-color: var(--clr-2);
	}
	.header {
		margin-bottom: 0rem;
	}
}

.navigation .menu-item {
	font-family: "Ubuntu", sans-serif;
	transition: color 1s ease-out;
	font-size: var(--step-1);
	letter-spacing: 1px;
}

.home .navigation .menu-item a:hover {
	color: var(--clr-3);
}
.home .navigation .menu-item:hover {
	border-bottom-color: var(--clr-3);
}
.navigation .menu-item a:hover {
	color: var(--clr-2);
}
.navigation .menu-item:hover {
	border-bottom-color: var(--clr-2);
}
.logo {
	cursor: pointer;
	font-family: "Ubuntu", sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
	.logo #curve-path-1 {
		stroke-dasharray: 1;
		stroke-dashoffset: 1;
		animation: draw 5s 0.04s infinite linear;
	}
	.logo #curve-path-2 {
		stroke-dasharray: 1;
		animation: drawBack 5s 0.04s infinite linear;
	}
	.logo #circle-1,
	.logo #circle-2,
	.logo #circle-3,
	.logo #circle-4 {
		offset-rotate: auto;
		transform-box: fill-box;
		transform-origin: "center";
		animation: move 5s 0.04s infinite both linear;
	}
	.logo #circle-1,
	.logo #circle-2 {
		offset-path: path("M 0 60 C 140 90 190 0 290 50");
	}
	.logo #circle-3,
	.logo #circle-4 {
		offset-path: path("M 0 56 C 140 86 190 0 290 46");
		animation-direction: reverse;
	}
	.logo #circle-2,
	.logo #circle-4 {
		animation-delay: 0.08s;
	}
}

@keyframes move {
	100% {
		offset-distance: 100%;
	}
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes drawBack {
	from {
		stroke-dashoffset: -1;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@media (min-width: 1200px) {
	.home .navigation {
		margin-right: var(--pullToEnd);
	}
}
/* skip links */
.skip-links {
	position: absolute;
	left: 0;
	padding: 1rem;
	max-width: 11rem;
}

.skip-links a {
	line-height: var(--lh-2);
	opacity: 0;
}

.skip-links a:focus {
	opacity: 1;
}
.header-left {
	max-width: 450px;
	width: 100%;
	padding-left: 1rem;
}
.menu {
	padding-left: 0;
}
