/* Header */

.navigation .menu-item {
	font-family: "Ubuntu", sans-serif;
	transition: color 1s ease-out;
	font-size: var(--step-1);
}

.home .navigation .menu-item a:hover {
	color: var(--clr-3);
}
.home .navigation .menu-item:hover {
	border-bottom-color: var(--clr-3);
}
.navigation .menu-item a:hover {
	color: var(--clr-2);
}
.navigation .menu-item:hover {
	border-bottom-color: var(--clr-2);
}
.logo {
	cursor: pointer;
}
@media (min-width: 768px) {
	.home .navigation {
		height: var(--headerHeight);
		background-color: var(--clr-2);
	}
	.navigation .menu-item {
		letter-spacing: 1px;
	}
}
@media (min-width: 1200px) {
	.home .navigation {
		margin-right: var(--pullToEnd);
	}
}
/* skip links */
.skip-links {
	position: absolute;
	left: 0;
	padding: 1rem;
	max-width: 11rem;
}

.skip-links a {
	line-height: var(--lh-2);
	opacity: 0;
}

.skip-links a:focus {
	opacity: 1;
}
