---
import "./header.css"
import SkipLinks from "$src/components/skip-links/skip-links.astro"
---

<header class="header" role="banner">
	<SkipLinks />
	<a href="/" class="logo">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="210px"
			height="70px"
			viewBox="0 0 300 100"
			stroke="currentColor"
		>
			<title id="logo">logo- Trapti Rahangdale</title>
			<defs>
				<path
					id="curve-path-1"
					d="M 0 60 C 140 90 190 0 290 50 "
					stroke-width="3"
					stroke="#f5b326"
					fill="none"
				/>
				<path
					id="curve-path-2"
					d="M 0 56 C 140 86 190 0 290 46 "
					stroke-width="3"
					stroke="#b4e6ff"
					fill="none"
				/>
			</defs>
			<use href="#curve-path-1" />
			<use href="#curve-path-2" />
			<text font-size="3rem" x="0" y="0" class="name-text">
				<textPath href="#curve-path-1">
					<tspan dx="15">trapti</tspan>
					<tspan dx="15">rahangdale</tspan>
				</textPath>
			</text>
		</svg>
	</a>
	<nav class="navigation flex-center">
		<ul class="menu">
			<li class="menu-item">
				<a href="/about/">About me</a>
			</li>
			<li class="menu-item">
				<a href="/blog/">Blogs</a>
			</li>
			<li class="menu-item">
				<a href="/#hire-me">Hire me</a>
			</li>
		</ul>
	</nav>
</header>