/* Header */
.header {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 4rem;
	/* height: var(--headerHeight); */
}

.logo .name-text {
	font-weight: 400;
	letter-spacing: 1px;
}

.navigation .menu {
	list-style: none;
	display: flex;
	/* flex-direction: column;
  justify-content: flex-end; */
}
.navigation .menu-item {
	margin-right: 1rem;
	border-bottom: 3px solid;
	font-size: var(--fs-m);
	font-family: "Ubuntu", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}
.header div {
	justify-self: center;
}
.logo {
	display: block;
}
.home .navigation .menu-item a:hover {
	color: var(--clr-3);
}
.home .navigation .menu-item:hover {
	border-bottom-color: var(--clr-3);
}
.navigation .menu-item a:hover {
	color: var(--clr-2);
}

.navigation .menu-item:hover {
	border-bottom-color: var(--clr-2);
}
@media (min-width: 768px) {
	.header {
		grid-template-columns: 1fr 2fr;
		margin-bottom: 0;
	}
	.home .navigation {
		background-color: var(--clr-2);
	}
	.navigation .menu {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.navigation .menu-item {
		display: inline;
		margin-right: 1.6rem;
		border-bottom: 3px solid;
		font-size: var(--fs-xl);
		transition: color 1s ease-out;
	}
}
/* skip links */
.skip-links {
	position: absolute;
	left: 0;
	padding: 1.6rem;
	max-width: 11rem;
	font-size: var(--fs-xl);
}

.skip-links a {
	line-height: 1.2;
	opacity: 0;
	color: var(--gray-1);
	background-color: var(--background-color);
}

.skip-links a:focus {
	opacity: 1;
}
