---
import talkImgJPG from "$src/images/talk-pic.jpg";
---

<div class="about-page__talk-image">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 780" width="100%">
		<defs>
			<mask id="swipeMaskTalkImage">
				<rect
					class="maskSwipeTalkImage"
					x="74"
					y="70"
					width="852"
					height="704"
					fill="white"></rect>
			</mask>
		</defs>
		<rect width="100%" height="100%" x="0" y="0" fill="#e7e7e8"></rect>
		<circle
			class="basic-shape hoop"
			fill="none"
			stroke="#ffce5c"
			stroke-width="13"
			cx="950"
			cy="600"
			r="45"></circle>
		<circle
			class="basic-shape littleCircle"
			fill="#0f1c70"
			cx="880"
			cy="40"
			r="27"></circle>
		<circle class="basic-shape bigCircle" fill="#ff4676" cx="940" cy="70" r="59"
		></circle>
		<circle
			class="basic-shape littleCircle"
			fill="#0f1c70"
			cx="100"
			cy="740"
			r="27"></circle>
		<circle class="basic-shape bigCircle" fill="#ff4676" cx="60" cy="700" r="59"
		></circle>

		<circle
			class="basic-shape hoop"
			fill="none"
			stroke="#ffce5c"
			stroke-width="13"
			cx="50"
			cy="180"
			r="45"></circle>
		<rect
			class="talk-image-bg"
			width="850"
			height="637"
			x="75"
			y="70"
			fill="#ffce5c"></rect>
		<image
			mask="url(#swipeMaskTalkImage)"
			x="75"
			y="70"
			alt="Trapti rahangdale working on laptop"
			width="85%"
			filter="url(#duotone)"
			xlink:href={talkImgJPG}
		/>
		<g id="highlight-on-talk-image">
			<path
				d="M254.13,160.14s7-21.32,8.06-28.74"
				fill="none"
				stroke="#ff5e6c"
				stroke-linecap="round"
				stroke-miterlimit="10"
				stroke-width="3"></path>
			<path
				d="M272.94,169.61s12.42-15.58,24.84-22.34"
				fill="none"
				stroke="#ff5e6c"
				stroke-linecap="round"
				stroke-miterlimit="10"
				stroke-width="3"></path>
			<path
				d="M283.88,184.74s23.1-6.06,31.89-9.93"
				fill="none"
				stroke="#ff5e6c"
				stroke-linecap="round"
				stroke-miterlimit="10"
				stroke-width="3"></path>
		</g>
	</svg>
</div>
