---
import SocialLinks from "$src/components/social-links.astro";
import "./footer.css";
---

<footer class="footer clr-3 inner-region stack text-center">
	<div class="flex justify-content-center">
		<a class="link" href="/rss.xml"> Articles RSS Feed</a>
		<a class="link" href="/the-desk/"> The Desk</a>
	</div>

	<div class="wrapper">
		<SocialLinks />
		<p class="font-small">
			All the character graphics is created by <a
				class="link"
				target="_blank"
				href="https://www.sillystrokes.com">sillyStrokes</a
			>
		</p>
		<p class="font-small">
			<strong>
				© 2019 - Today / Copyright Trapti Rahangdale. All rights reserved.
			</strong>
		</p>
		<p class="font-small">
			This site is built with <a href="https://astro.build" class="link"
				>Astro</a
			>
			and hosted on
			<a href="https://netlify.com" class="link">Netlify</a>. The source code is
			hosted on <a href="https://github.com" class="link">Github</a>.
		</p>
	</div>
</footer>
