---
import "./services-section.css";
---

<section id="hire-me" class="home-services-container wrapper">
	<h2 class="section-title" id="home-service-title">
		you can use my contribution to create:
	</h2>

	<div class="service">
		<h3>Websites User Interface</h3>

		<p>
			With great attension to detail, using{" "}
			<strong class="highlight">HTML</strong>,{" "}
			<strong class="highlight">CSS</strong>,{" "}
			<strong class="highlight">SVG</strong> and{" "}
			<strong class="highlight">JS</strong>, I will convert your designs into an
			accessible, interactive, engaging and performant website. I have
			experience with,
		</p><ul>
			<li>Static site generators like Astro, 11ty, Gatsby etc.</li>
			<li>
				Singe-page Apps and server rendered Multi-page Apps using libraries like <strong
					class="highlight">React</strong
				>,{" "}
				<strong class="highlight">Vue</strong> and server side templating languages
			</li>
			<li>Custom WordPress themes using ACF(Advanced Custom Fields).</li>
		</ul>
	</div>

	<div class="service">
		<h3>Animations using GSAP / CSS</h3>
		<p>
			I can help you engage your users on your websites. Convey your story
			through animations. I use{" "}
			<a href="https://greensock.com" class="link" target="_blank">
				GreenSock
			</a>{" "}
			as my preferred library for animations. It is robust and has many great plugins
			to create amazing animations. If your preference is using CSS and plain JS
			to create animations, I do that as well.
		</p>
	</div>

	<div class="home-services-container__lets-chat">
		
		<h3>
			sounds fun? let's chat!
			<a class="button clr-2" href="mailTo:hello@trapti.dev" target="_blank">
				ping me
			</a>
		</h3>
	</div>
</section>
