.service-ani-container {
	width: 18.75rem;
	height: 18.75rem;
	background-color: var(--clr-11);
	border: 4px solid white;
	border-radius: 3px;
}
.home-services-container .service {
	margin-bottom: 3rem;
}
.home-services-container__lets-chat {
	--space-m: 2rem;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: end;
}
#envelop {
	visibility: hidden;
	opacity: 0;
	width: 176px;
}
#envelop-shadow {
	filter: blur(1px);
}
#envelop-highlights > * {
	visibility: hidden;
	opacity: 0;
}
