.mms-title {
	font-size: clamp(4.8rem, calc(4.8rem + 5vw), 11rem);
	font-weight: 600;
	line-height: 1.2;
	width: 100%;
	max-width: 200px;
	font-family: "Impact", serif;
}
#mms-svg {
	max-width: 450px;
	justify-self: end;
	align-self: center;
}
