---
import React from "react"
import Header from "$src/components/header/header.jsx"
import Footer from "$src/components/footer.jsx"
import SocialLinks from "$src/components/social-links.jsx"
import SkipLinks from "$src/components/skip-links/skip-links.jsx"

import BaseLayout from "$src/layouts/BaseLayout.astro";

---
<BaseLayout>
	<div class="wrapper">
		<SkipLinks />
		<Header />
		<slot></slot>
		<SocialLinks />
		<Footer />
	</div>
</BaseLayout>